@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

body,
#root {
    margin: 0;
    min-width: 1024px;
    width: 100%;
    min-height: 780px;
    height: auto;
    font-family: "Roboto", sans-serif;
}

.page_404 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    & h1 {
        color: $color-primary;
        font-size: 288px;
        margin: 30px;
        font-weight: 700;
        line-height: 210px;
        font-size: 200px;
    }
    & p {
        color: $color-primary;
        font-size: 36px;
        font-weight: 500;
        line-height: 51px;
    }
    &-link {
        color: $color-primary;
        font-size: 18px;
        line-height: 26px;
        font-weight: 500;
        margin-bottom: 100px;
    }
}

.d-none {
    display: none;
}

.text-primary {
    color: $color-primary;
}
