$breakpoint: (
    desktop: 1439px,
    tab: 1023px,
    mobile: 766px,
);
@mixin desktop {
    @media screen and (max-width: map-get($breakpoint, desktop)) {
        @content;
    }
}

@mixin tab {
    @media screen and (max-width: map-get($breakpoint, tab)) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: map-get($breakpoint, mobile)) {
        @content;
    }
}
